@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu&display=swap");
body {
  background-color: antiquewhite;
}
* {
  padding: 0;
  margin: 0;
  
}
nav {
    font-family: "Ubuntu", sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0px 12px;
}
.brand img{
    width: 44px;
    padding-right: 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
min-height: 70vh;
background-color: black;
color:white;
font-family: "varela round",sans-serif;
display: flex;
margin: 13px auto;
width: 70%;
padding: 23px;
border-radius: 10px;
background-image: url(bg.jpg);
background-size: cover;
}
.bottom{
    position: sticky;
    height: 90px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#myProgressBar{
    width:80vw ;
    cursor: pointer;
    margin-top: 5px;
}
.songItemContainer{
    margin-top:40px ;
}
#playIcon ,#backwardIcon ,#forwardIcon {
    font-size: 30px;
    padding: 3px;
}
.icons{
    margin-top: 9px;
}
.icons i{
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
width: 43px;
margin: 0 23px;
border-radius: 50%;
}
.songlistPlay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    font-size: 14px;   
}
.songlistPlay I{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left:200px;
}
.songInfo span{
    padding-left: 20px;
}